<!DOCTYPE html>
<html lang="en">
<head>
<title>Biodata</title>

</head>
<body>
<form action="#" style="width: 1000px"class="posisi";>
<fieldset class="h"/>
<table style="width: 980px;">
<tr>
<td rowspan="15" width="250px">
<img src="vikih.jpg" width="250px" height="420px"/>
</td>
</tr>
<tr>
<td><b>Nama Lengkap</b></td>
<td>:</td>
<td>{{ name }}<td>
</tr>
<tr>
<td><b>NPM</b></td>
<td>:</td>
<td>{{ npm }}</td>
</tr>
<tr>
<td><b>Usia</b></td>
<td>:</td>
<td>{{ age }} tahun</td>
</tr>
<tr>
<td><b>Fakultas</b></td>
<td>:</td>
<td>Ilmu Komputer</td>
</tr>
<tr>
<td><b>Jurusan</b></td>
<td>:</td>
<td>Sistem Informasi</td>
</tr>
<tr>
<td><b>Angkatan</b></td>
<td>:</td>
<td>2018</td>
</tr>
<tr>
<td><b>Hobi</b></td>
<td>:</td>
<td>Menggambar, Dengar Musik, Nonton Film</td>
</tr>
<tr>
<td><b>Deskripsi</b></td>
<td>:</td>
<td>Hi, my name is Vikih, a student of University of Indonesia. I llike challenges and something new</td>
</tr>
</td>
</tr>
</table>
</fieldset>
</form>
</body>
</html>